/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

ol, ul {
  list-style: none;
}

html {
  font-size: 100.01%;
}

/* Holds both menus */
#wrapper {
  overflow: hidden;
  background: #5f5f5f;
  max-width: 960px;
  margin: 0 auto;
}
/* -----------------------------------*/
/* ---------->>> Menus <<<-----------*/
/* -----------------------------------*/
/* Do NOT display buttons on desktop version */
.mobile-button{
  /* Hide mobile buttons on desktop version. Do not change this */
  display: none;
  font-size: 16px;
  padding: 10px 5px;
  margin: 10px auto;
}

.mobile-menu{
  width: 100%;
  overflow: hidden;
}

.mobile-menu>ul>li {
  line-height: 36px;
  padding: 20px;
  float: left;
  list-style: none;
  border: none;
  display: block;
}

/* -----------------------------------*/
/* ---------->>> Mobile <<<-----------*/
/* -----------------------------------*/
/* 'max-width' here should be equal to 'mobileBreakPoint' value in scripts.js */
@media only screen and (max-width: 650px) {
  /* Display the buttons. Do not change this */
  .mobile-button {
    display: block;
  }

  /* The state of the buttons when they are clicked. Style them as you want */
  .mobile-button.clicked {
    background: #f5f5f5;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }

  /* Hide menus on mobile version. Do not change this */
  .mobile-menu{
    display: none;
  }

  .mobile-menu>ul>li {
    display: block; /* Do not change this to make the li-s on mobile vertiaclly align below eaach other */
    width: 100%; /* Do not change this to make the li-s on mobile vertiaclly align below eaach other */
    border-top: 1px solid #202020;
    float: none;
  }
}
